.App {
  margin: 1rem 2rem; 
}

.OverTable {
  display:flex; 
  width: 50vw; 
  padding-top: 4rem; 
  justify-content: space-around;   
}

.QuantityColumn {
  display: inline-block;
  margin: 1rem;
  padding: 1rem;
  background-color: rgb(87, 85, 85);
  border-radius: 5px;
}

.Checkout {
  margin: 10rem;
}

.Footer {
  display: flex;
  justify-content: flex-end;
  padding: 3rem;
}